<div class="container">
    <h2>{{course.title}}</h2>
    <h4>{{course.description}}</h4>
    <pre>Rating: {{course.rating}};       Lessons: {{course.lessonsCount}}</pre>
</div>

<div id="videoContainer" #videoContainer>
    <video #videoPlayer id="videoPlayer" width="100%" height="100%">
    </video>
</div>

<h3 class="m-5">Lessons:</h3>
<div class="row gx-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
    <div class="col mb-5" *ngFor="let lesson of lessons">
        <div class="h-100 p-3 shadow justify-content-between align-items-center"
            [ngClass]="{'bg-secondary': active[lesson.order-1]}">
            <div>
                <img class="img-fluid" [src]="lesson.img" [alt]="lesson.title">
            </div>
            <div>
                <h5>{{lesson.title}}</h5>
            </div>
            <div>
                <button class="btn btn-primary" [ngClass]="{'disabled btn-danger': lesson.status === 'locked'}"
                    (click)="view(lesson.id)">View
                    lesson</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <a href="./">Back to the Course List</a>
</div>